.navigate{
	background-color:#808080;
}

.nav-link{
	text-decoration:none;
	color:#fff;
}

.leao-img{
 	width: 500px;
 	height: 500px;
}
	
.milan-image{
	margin:30px 0;
	text-align:center;
}

.forms{
	width: 550px;
	background-color:#fff;
	box-shadow:0 0 20px 0 #999;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
	border-radius: 5px;
	margin-top: 250px;
}

.main-text{
	text-align:center;
}